@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');

.message-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(127, 163, 230);
    min-width: 450px;
    padding: 15px 15px;
    border-radius: 20px;
    box-shadow: 0 0 50px rgba(0,0,0,0.3);
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
    min-height: 35vh;
}

.user-get-info{
    min-width: 350px;
    max-width: 700px;
    margin-top: 10vh;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 20vh;
    padding-top: 4vh;
}

.masters-box{
    min-width: 350px;
    max-width: 700px;
}

.master-list{
    min-width: 350px;
    max-width: 700px;
    margin-top: 10vh;
    margin-left: 30%;
    margin-right: 30%;
}

.menu-container{
    display: flex;
    margin-left: 25px;
}

.menu-container-size{
    background-color: rgb(127, 163, 230);
    min-height: 45vh;
    border-radius: 20px;
}

.admin-button{
    background-color: rgb(43, 59, 88);
    color:white;
    border-radius: 10px 10px 0px 0px;
    width: 100px;
    height: px;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
    padding: 15px;
    margin-left: 1px;
}

.admin-page{
    padding-top: 8vh;
    min-height: 30vh;
    margin-top: 30vh;
}

.admin-menu{
    display: flex;
}

.pop-up-window{
    background-color: rgb(127, 163, 230);
    margin-top: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 350px;
    max-width: 450px;
    padding: 30px 30px;
    border-radius: 20px;
    box-shadow: 0 0 50px rgba(0,0,0,0.3);
    font-family: 'Comfortaa', cursive;
    font-size: 23px;
    text-align: center;
    margin-left: 40%;
    margin-right: 40%;
    color: white;
}

.get-element{
    min-width: 350px;
    max-width: 400px;
    margin: 10px 10px;
    border: solid white 1px;
    text-indent: 20px;
    color:rgb(134, 134, 134);
    outline: none;
    border-radius: 10px;
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
}

.button-style{
    margin-top: 30px;
    min-width: 170px;
    max-width: 230px;
    border: solid rgb(250, 224, 212) 1px;
    border-radius: 3px;
    background-color: rgb(42, 15, 199);
    outline: none;
    -webkit-tap-highlight-color: transparent;
    color:rgb(216, 216, 216);
    border-radius: 10px;
    padding: 25px;
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
}

.button-style:active{
    background-color: rgb(80, 52, 238);
}

.button-style:enabled{
    outline: none;
}

.masters-box{
    width: 90%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 50px rgba(0,0,0,0.3);
    height: 14vh;
    border-radius: 20px;
    padding-top: 30px;
    margin: 10px 10px;
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stars{
    text-align: right;
    color:rgb(223, 146, 23);
    font-size: 30px;
}